<p c><p b><p a>
<style>
  body {
    margin:0;
    display:flex;
    background:#0B2429;
  }
  p {
    margin:0;
    position:absolute;
    width:150px;
    height:150px;
    border-radius:67% 0% 67% 0%;
  }
  p[a]{right:75;top:75;background:#F3AC3C;}
  p[b]{top:75;right:125;background:#998235;}
  p[c]{left:75;top:75;background:#1A4341;}
</style>